{% extends "base.html" %}

{% block resources %}
    <script src="/static/signup.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
{% endblock %}

{% block sidebar %}
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="/">Learn This Language</a>
            </div>
            <div class="sidebar-search">
                <form class="text-light text-center needs-validation" action="/login" method="POST" novalidate>
                    <div class="form-group text-left">
                        <label for="username">Username</label>
                        <input type="text" class="form-control search-menu" id="username" name="username" aria-describedby="username">
                        <small id="username" class="form-text text-muted">We'll never share your username with anyone else.</small>
                    </div>
                    <div class="form-group text-left">
                        <label for="password">Password</label>
                        <input type="password" class="form-control search-menu" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Log In</button>
                </form>
            </div>
        <!-- sidebar-search  -->
        </div>
    </nav>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="card-title">Sign Up</h1>

            <form action="/signup" method="POST" class="needs-validation" novalidate oninput='up2.setCustomValidity(up2.value != password1.value ? "Passwords do not match." : "")'>
                <div class="form-group">
                    <label for="redditid">Reddit ID</label>
                    <input type="text" class="form-control" id="redditid" name="redditid" aria-describedby="redditid" placeholder="Enter Reddit ID" required>
                    <div class="invalid-feedback">
                        Please provide a Reddit ID
                    </div>
                    <small id="redditid" class="form-text text-muted">We'll never share your id with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="name" placeholder="My Name">
                </div>
                <div class="form-group">
                    <label for="password1">New Password</label>
                    <input type="password" class="form-control" id="password1" name="password1" placeholder="Password" required>
                    <div class="invalid-feedback">
                        Please provide a password
                    </div>
                </div>
                <div class="form-group">
                    <label for="password2">Re-type Password</label>
                    <input type="password" class="form-control" id="password2" name="up2" placeholder="Password" required>
                    <div class="invalid-feedback">
                        Passwords do not match
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>
{% endblock %}
