{% extends "base.html" %}


{% block sidebar %}
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#">Learn This Language</a>
            </div>
            <div class="sidebar-search">
                <form class="text-light text-center" action="/login" method="POST">
                    <div class="form-group text-left">
                        <label for="username">Username</label>
                        <input type="text" class="form-control search-menu" id="username" name="username" aria-describedby="username">
                        <small id="username" class="form-text text-muted">We'll never share your username with anyone else.</small>
                    </div>
                    <div class="form-group text-left">
                        <label for="password">Password</label>
                        <input type="password" class="form-control search-menu" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Log In</button>
                </form>
            </div>
        <!-- sidebar-search  -->
        </div>
    </nav>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="card-title">Sign Up</h1>

            <form action="/signup" method="POST">
                <div class="form-group">
                    <label for="redditid">Reddit ID</label>
                    <input type="text" class="form-control" id="redditid" name="redditid" aria-describedby="redditid" placeholder="Enter Reddit ID">
                    <small id="redditid" class="form-text text-muted">We'll never share your id with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" aria-describedby="name" placeholder="My Name">
                </div>
                <div class="form-group">
                    <label for="password1">New Password</label>
                    <input type="password" class="form-control" id="password1" name="password1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="password2">Re-type Password</label>
                    <input type="password" class="form-control" id="password2" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
